$color: (
  primary: #f09d51,
  secondary: #127eea #b8dafc,
  warning: #ed156f,
  light: #fff #ececec,
  dark: #222 #777 #ccc
);
$adminColor: (
  primary: #f09d51,
  secondary: #127eea,
  warning: #ed156f,
  light: #fff #ececec,
  dark: #222 #777
);
$fun: (
  spacing: 0.1rem,
  transition: #{all 0.3s linear},
  font: 0.8rem 1rem 1.5rem
);
