@mixin sidebar {
  .side {
    &.show-side {
      @include after {
        display: block;
        background-color: rgba(color(primary), 0.6);
        @include wh;
        top: 0;
        position: absolute;
        z-index: 1;
      }
    }
    .sidebar {
      @include wh(100%, 100vh);
      font-size: 1rem;
      background-color: color(light, 2);
      text-align: left;
      position: fixed;
      max-width: 400px;
      top: 0;
      transition: fun(transition);
      z-index: 2;
      &.show-sidebar {
        transition: fun(transition);
      }
      .cross {
        i {
          background-color: #000;
          padding: 0.1rem 0.3rem;
          border-radius: 0.3rem;
          color: #fff;
          cursor: pointer;
        }
      }
      @content;
    }
  }
}
